# python compiled files
*.pyc
vim/.netrwhist
vim/view

# This is the directory that holds the files that are replaced with my dotfiles.
# They can be restored to their original value once I am no longer the owner/
# user.
*stash*

# Some of emacs's configuration files
emacs.d/elpa/*
emacs.d/auto-save-list

# emacs temp files
*~